<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="UsersDAO" class="com.usc.dao.UsersDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userService" class="com.usc.service.userServiceImpl">
		<property name="dao" ref="UsersDAO"></property>
	</bean>
	
	<bean id="saveUserAction" class="com.usc.action.SaveUserAction" scope="prototype">
		<property name="us" ref="userService"></property>
	</bean>
	
	<bean id="UsersAction" class="com.usc.action.UsersAction">
		<property name="us" ref="userService"></property>
	</bean>
	
	
</beans>