<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="bean" class="org.mz.spring.bean" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="uname">
			<value type="java.lang.String">jsjmz</value>
		</property>
		<property name="upass">
			<value type="java.lang.String">lishunli</value>
		</property>
	</bean>
	<bean id="Mysql" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;amp;characterEncoding=gbk">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="lishunli"></property>
	</bean></beans>